<ul class="tag-list-inline">
  {% for tag in include.tags %}
    <li class="tag-default">
      <a href="/tags#{{ tag | slugify }}">
        <!-- "tag" icon from https://heroicons.dev/ -->
        <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
         {{ tag }}
      </a>
    </li>
  {% endfor %}


  {% if include.poster %}
  <li class="tag-poster">
    <a href="{{ include.poster }}">
        <!-- "chart-square-bar" icon from https://heroicons.dev/ -->
      <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm9 4a1 1 0 10-2 0v6a1 1 0 102 0V7zm-3 2a1 1 0 10-2 0v4a1 1 0 102 0V9zm-3 3a1 1 0 10-2 0v1a1 1 0 102 0v-1z" clip-rule="evenodd"></path></svg>
      Poster
    </a>
  </li>
  {% endif %}

  {% if include.paper %}
  <li class="tag-paper">
    <a href="{{ include.paper }}">
        <!-- "document" icon from https://heroicons.dev/ -->
      <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd"></path></svg>
      Paper
    </a>
  </li>
  {% endif %}

  {% if include.code %}
  <li class="tag-code">
    <a href="{{ include.code }}">
      <!-- terminal icon from https://heroicons.dev/ -->
      <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm3.293 1.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L7.586 10 5.293 7.707a1 1 0 010-1.414zM11 12a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
      Code
    </a>
  </li>
  {% endif %}
</ul>
