/*******************************************************************************
 * Styles for the about page.
 ******************************************************************************/

#about-picture {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

@media (min-width: 576px) {
  #about-picture {
    width: 33%;
  }
}

#about-social {
  text-align: center;
  font-size: 3rem;

  a {
    border: none !important;
  }
}
