/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Layout
.container {
  max-width: $max-content-width;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
}


// Typography
a, p, h1, h2, h3, h4, h5, h6, em, div, span, strong {
  color: var(--global-text-color);
}

a, table.table a {
  text-decoration: none;
  border-bottom: 1px solid $grey-color-underline;

  &:hover {
    color: var(--global-hover-color);
    border-bottom-color: var(--global-hover-color) !important;
  }
}

// Header
.navbar {
  box-shadow: none;
  border-bottom: 1px solid $grey-color-light;
  background-color: var(--global-bg-color);
  opacity: 0.95;

  .navbar-brand, .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    border: none;

    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

// Footer
footer {
  border-top: 1px solid $grey-color-light;
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
}

// Comments (prevent disqus from reflowing into the footer)
#disqus_thread {
  min-height: 425px;
}

// Math
.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Code
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}

// Quotes
blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}
