/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

// Byline
d-byline {
  border-top-color: $grey-color-light !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
  border-bottom: 1px solid $grey-color-underline !important;
}

// Article
d-article {
  border-top-color: #e8e8e8 !important;
  p, li, table {
    font-family: "Roboto Slab", serif;
  }
  a, p, h1, h2, h3, h4, h5, h6, li, table {
    color: var(--global-text-color) !important;
  }
  a, h1, h2 {
    border-bottom-color: $grey-color-underline !important;
  }
  a:hover {
    color: var(--global-hover-color) !important;
    border-bottom-color: var(--global-hover-color) !important;
  }
}

// Appendix
d-appendix {
  border-top-color: $grey-color-light !important;
  color: var(--global-distill-app-color) !important;
  h3, li, span, p {
    color: var(--global-distill-app-color) !important;
  }
  a, a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

// Footnotes and citations
d-cite, d-footnote, .note {
  font-family: Roboto, sans-serif;
}

// Fine-tune spacing for footnotes
d-footnote {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
}

// By default, images should fill their container.
// Fill clear backgrounds with BG color.
img {
  width: 100%;
  background-color: var(--global-bg-color)
}
