/*******************************************************************************
 * Themes
 ******************************************************************************/

// Layout
$max-index-width: 1000px;
$max-content-width: 800px;
$footer-height: 50px;
$comments-height: 425px; // Prevent disqus from reflowing into footer

// Fonts
$fonts-sans-serif: Roboto, sans-serif;
$fonts-serif: "Roboto Slab", serif;

// Colors
:root {
  --global-bg-color:            #ffffff;
  --global-code-bg-color:       #fff8e1;
  --global-text-color:          #000000;
  --global-text-color-light:    #424242;
  --global-theme-color:         #304ffe;
  --global-hover-color:         #0026ca;
  --global-line-color:          #cfd8dc;
}
