<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body>
    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    <div
      class="container mt-5"
      id="{% if page.title != "index" %}content-container{% else %}index-container{% endif %}">
      {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.html %}
  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/medium_zoom.html %}
</html>
